body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  background-color: rgba(56, 173, 169, 1.0);
}

header {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.header-title-container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  background: white;
  border-top: 10px solid rgba(56, 173, 169, 1.0);
}

.title-div {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}

.title-div h1 {
  width: 100%;
  margin: 0;
  padding: 0 0 5px 0;
  color: rgba(60, 99, 130, 1.0);
  text-align: center;
  font-size: 36pt;
  font-weight: 700;
  border-bottom: 2px solid rgba(56, 173, 169, 1.0);
}

.title-div p {
  width: 100%;
  margin: 0;
  padding: 5px 0 0 0;
  color: rgba(10, 61, 98, 0.8);
  text-align: center;
  font-size: 20pt;
}

.title-div a {
  margin 0;
  float: right;
  padding: 5px 0 0;
  text-decoration: none;
  color: rgba(96, 163, 188, 1.0);
}

.title-div a:hover {
  color: salmon;
}

.section1 {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  overflow: hidden;
}

.clock-container {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  background: rgba(10, 61, 98, 0.8);
  border-top: 10px solid rgba(56, 173, 169, 1.0);
}

.clock-title {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0 5px 0;
}

.clock-title h3 {
  width: 100%;
  margin: 0;
  padding: 0 0 5px 0;
  color: rgba(223, 228, 234, 1.0);
  text-align: center;
  font-size: 26pt;
  font-weight: 700;
  border-bottom: 2px solid rgba(56, 173, 163, 1.0);
}

.clock-date {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#clock {
  width: 100%;
  margin: 0;
  padding: 5px 0 5px 0;
  float: hidden;
  text-align: center;
  font-size: 24pt;
  color: rgba(223, 228, 234, 1.0);
  letter-spacing: 4px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-family: 'PT Mono', monospace;
}

#date {
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
  float: left;
  overflow: hidden;
  text-align: center;
  font-size: 18pt;
  color: rgba(223, 228, 234, 1.0);
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

nav {
  width: 60%;
  margin: 0 auto;
  padding: 0;
}

.clock-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 45px 0 40px 0;
  text-align: center;
  font-weight: 700;
}

.clock-container nav ul li {
  display: inline;
  margin: 0 10px;
  padding: 0;
}
